NEXT_PUBLIC_SITE_URL=https://grahakavach.in

WORDPRESS_URL=https://admin.grahakavach.in
WORDPRESS_GRAPHQL_URL=https://admin.grahakavach.in/graphql

WOOCOMMERCE_URL=https://admin.grahakavach.in
WC_CONSUMER_KEY=
WC_CONSUMER_SECRET=

REVALIDATION_SECRET=
